<script type="text/ng-template" id="GenericTest.tmpl.html">
    <table class="table">
        <tr>
            <th>Test</th>
            <th>State</th>
            <th>Time</th>
            <th>Artifacts</th>
        </tr>
        <tr ng-repeat="test in suite.tests|filter:testFilter" ng-class='styleForTest (test.state)' />
        <td width="60%">{{test.name}}
            <div>
                <a ng-click="isCollapsed = !isCollapsed">Show command line (to run this test locally)</a>
                <div ng-hide="isCollapsed" select-on-click>
                    {{testCommandLine(suite, test)}}
                </div>
            </div>
            <div ng-show="test.message">
                <div><b>Message:</b></div>
                <div class="formatted_text">{{test.message}}</div>
            </div>
            <div ng-show="test.stackTrace">
                <div><b>Stack trace:</b></div>
                <div class="formatted_text">{{test.stackTrace}}</div>
            </div>
            <div ng-show="test.reason">
                <div><b>Reason:</b></div>
                <div class="formatted_text">{{test.reason}}</div>
            </div>
            <div ng-show="test.errors">
                <div><b>Other errors:</b></div>
                <div ng-repeat="error in test.errors" class="fail">
                    <div class="formatted_text">{{error}}</div>
                </div>
            </div>
        </td>
        <td width="10%">{{formatTestState (test.state)}}</td>
        <td width="10%">{{formatDuration (test.time)}}</td>
        <td width="20%">
            <div ng-repeat="artifact in test.artifacts">
                <a target="_blank" href="{{formatLink(artifact)}}">{{formatArtifactName(artifact)}}</a>
            </div>
        </td>
    </table>
</script>
