<script type="text/ng-template" id="SuiteDataMemoryLeaks.tmpl.html">
    <div id="allocated_memory" ng-class='{fail: dataEntry.allocatedMemory > dataEntry.threshold}' >
        <div>Memory leaks details</div>
        <div>Total memory allocated(bytes):<strong>{{dataEntry.allocatedMemory}}</strong></div>
        <table width="30%">
            <thead>
            <tr>
            <th>Label name</th>
            <th>Size(bytes)</th>
            </tr>
            </thead>
            <tr ng-repeat="entry in dataEntry.memoryLabels">
                <td ng-repeat="(label, memory) in entry">{{label}}</td>
                <td ng-repeat="(label, memory) in entry">{{memory}}</td>
            </tr>
        </table>
    </div>
</script>
