body {
    font-family: 'Varela Round', sans-serif;
    font-size: 11px;
    color: #555555;
}

.pre-callstack {
    overflow: auto;
    display: block;
    padding: 9.5px;
    margin-bottom: 0;
    font-size: 10px;
    line-height: 1.42857143;
    color: #333;
    word-break:break-all;
    word-wrap: normal;
    white-space:pre;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 2;
}

.details-row {
    background-color: #fffdf9;
    -webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .2);
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, .2), inset 0 -3px 4px rgba(0, 0, 0, .1);
}

.details-cell {
    padding-top: 10px;
    padding-left: 10px;
}

.details-image-cell {
    width: 42px;
    vertical-align:top;
}

.details-table {
    width: 100%;
    table-layout: fixed;
}

.details-icon {
    font-size: 30px;
}

.success-test {
    background-color: #ddffdd;
}

.fail-test {
    background-color: #ffdddd;
}

.selected-branch {
    background-color: #ffffff;
    opacity: 0.8;
}

.clipped {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tree-icon {
    color: #444455;
}

.small-tree-icon {
    font-size: 8px;
}

.leaf-icon {
    font-size: 14px;
}

.icon-green {
    color: #03b527;
}

.icon-red {
    color: #b50202;
}

.icon-blue {
    color: #16b1ff;
}

.icon-gray {
    color: #888888;
}

.icon-black {
    color: #000;
}

.icon-yellow {
    color: #f2a90c;
}

.my-btn {
    color: #fff;
    background-color: #ddee77;
    border-color: #aacc55;
}

.toolbox {
    font-size: 10px;
}

.toolbox-button {
    font-size: 10px;
    width: 55px;
}

.toolbox-icon-button {
    font-size: 10px;
}

.toolbox-button-lg {
    font-size: 10px;
   /* width: 100px;*/
}

.pre-ex-button {
    font-size: 10px;
    margin-bottom: 2px;
    margin-left: 5px;
}

.pre-ex-button-default {
    font-size: 10px;
    margin-bottom: 2px;
}

.pre-ex-div {
    padding-bottom: 5px;
}

.pre-ex-div-default {
    padding-bottom: 10px;
}

.btn-info, .btn-warning, .btn-danger, .btn-success, .btn-primary {
    background: #fff;
    color: #000;
    border-color: #cccccc;
}

/*.btn-info .active{
    background: #16b1ff;
    color: #000;
    border-color: #06a1ff;
}*/

.btn.active {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.alert-danger {
    background: #ffe5e5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icon-artifact {
    padding-left: 5px;
    padding-right: 5px;
}

.list-item-padding {
    padding-bottom: 10px;
}

.fail-color {
    color: #930101;
}

.pass-color {
    color: #019220;
}

.checkbox-babel {
    padding-left: 5px;
    font-weight:normal;
}

table.table.table-striped tr.root-cause td {
    background-color:#ffeded;
}

.title-error {
    background-color: #c9302c;
    color: #fff;
    border: 1px solid #ac2925;
    padding-top: 5px;
    border-radius: 2px;
}

.title-success {
    background-color: #449d44;
    color: #fff;
    border: 1px solid #398439;
    padding-top: 5px;
    border-radius: 2px;
}

.title-logo {
    width: 5%;
    vertical-align: middle;
    margin-bottom: 0.75em;
    padding-left: 5px;
}

.title-text {
    font-size: 12px;
}

.title-text-bottom {
    padding-top: 20px;
    font-size: 10px;
    padding-right: 5px;
}

.toolbar {
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.temp-alert {
   margin-top: 5px;
   margin-bottom: 5px;
}
