.fail {
    background-color: #EFCFCF;
}
.success {
    background-color: #DDE6D6;
}

.notrun {
    background-color: #E7E7E7;
}

.inconclusive {
    background-color: #FCFACB;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#states_filter{
    padding-bottom: 15px;
}
