.content {
    padding: 25px 40px 40px 40px;
    min-width: 320px;
}

#wrapper {
    margin: 0;
    padding: 15px 35px 60px 15px;
    background: #f1f3f6;
    transition: all 0.4s ease 0s;
    position: relative;
    min-height: 100%;
}

.hpanel .panel-body {
    background: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.formatted_text {
    white-space: pre;
}
